body{
	background-image:url("Captain.PNG");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:cover;
}
table{
	background:black;
	border:10px;
	color:salmon;
	width:70%;
	margin-top: 100px;
}
td{
	color:azure;
	align-content: center;
	padding-block: 15px;
	text-align: center;
	font-size: 20px;
}
h1{
	color:#c8c8c8;
}
a{
	text-decoration: thistle;
	color: wheat;
}
span{
	font-size: larger;
	color: blanchedalmond;
}