<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  
  <servlet>
  <servlet-name>app01</servlet-name>
  <servlet-class>controller.AllCustomers</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>app01</servlet-name>
  <url-pattern>/cust.do</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>app02</servlet-name>
  <servlet-class>controller.ShowTransferMoney</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>app02</servlet-name>
  <url-pattern>/transfer.do</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>app03</servlet-name>
  <servlet-class>controller.TransferMoney</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>app03</servlet-name>
  <url-pattern>/transfer_money.do</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>app04</servlet-name>
  <servlet-class>controller.AllTransaction</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>app04</servlet-name>
  <url-pattern>/transactions.do</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>app05</servlet-name>
  <servlet-class>controller.ShowNav</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>app05</servlet-name>
  <url-pattern>/nav.do</url-pattern>
  </servlet-mapping>
 
</web-app>
